# =======================================
# Qt Project + macOS .gitignore
# =======================================

# ---- Qt build outputs ----
*.o
*.obj
*.lo
*.la
*.lai
*.slo
*.dll
*.so
*.dylib
*.a
*.lib
*.exe
*.out
*.app
*.qmake.stash
*.qmake.cache

# ---- Qt moc, uic, rcc gene

